.sliderContainer {
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 0 10px; /* side spacing */
  gap: 20px;
}

.cardWrapper {
  flex: 0 0 80%; /* allows peeking of next video */
  scroll-snap-align: center;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
